/* Small devices (portrait tablets and large phones, 600px to 834px) */
@media only screen and (min-width: 600px) and (max-width: 834px) {
    .top-banner {
        max-height: 500px;
    }

    .top-title {
        font-size: 2em;
    }

    .top-description {
        max-height: 100px;
        max-width: 200px;
        white-space:nowrap;
        display:inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px 0;
        /* text-align: justify; */
    }

    .btn {
        padding: 10px 20px;
    }

    .top-right {
        margin-top: 0px;
    }

    .top-right img {
        margin-bottom: -55px;
    }

    .page-section {
        display: block;
    }

    .pages {
        flex-direction: row;
        width: 100%;
        background-color: #FFF;
    }

    .btn2 {
        border: 1px solid rgba(0, 0, 0, 0.096);
        margin: 0;
    }

    .btn2:first-child {
        margin-right: 10px;
    }

    .btn2:last-child {
        margin-left: 10px;
    }

    .active {
        border: 0px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);

    }

    .blog:nth-last-child(-n+3) {
        display: none;
    }
    .match:nth-last-child(n){
        display: block;
    }
    .btn4 {
        display: block;
        width: 20%;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 5px;
    }

    .footer-items {
        width: 90%;
        flex-wrap: wrap;

    }
    .footer-items li {
        margin: 10px 0;
    }
}

@media only screen and (max-width: 599px) {

    .top-banner {
        width: 80%;
        /* min-height: 1000px; */
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        padding: 10px;
    }
    .top-left {
        /* margin: 10px auto; */
        /* margin-left: 0; */
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        
    }
    .top-title {
        font-size: 2.5em;
        padding-top: 30px;
    }

    .top-description {
        margin: 0 auto;
        max-height: 100px;
        max-width: 200px;
        white-space:nowrap;
        display:inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .btn {
        width: 50%;
        margin: 0 auto;
        padding: 10px 15px;
        font-size: 1em;
    }

    .top-right {
        text-align: center;
        min-height: 300px;
    }

    .top-right img {
        margin: 10px auto;
        margin-bottom: -15px;
    }

    .page-section {
        display: block;
        /* margin-left: 30px; */
        margin: 100px auto;
    }

    .pages {
        flex-direction: column;
        width: 100%;
        background-color: #FFF;
    }

    .btn2 {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.096);
        margin: 10px 0;
    }

    

    .active {
        border: 0px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);

    }

    .blog:nth-last-child(-n+3) {
        display: none;
    }

    .btn4 {
        display: none;
    }
    .footer-title{
        padding-top: 50px;
        font-size: 2em;
        margin-bottom: 20px;
    }
    .footer-items {
        width: 90%;
        flex-direction: column;
    }
    .footer-items li {
        margin: 10px 0;
    }
    .footer-item {
        margin: 10px 0;
    }
}